{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Биржа Услуг</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body class="bg-white">
  <div class="container flex mx-auto mt-0 shadow-md min-h-screen">
    <div class="flex flex-col w-full">
      <!-- Top Navbar -->
      <div class="h-16 shrink-0 bg-gray-300 w-fullshadow flex items-center">
        <!-- App title -->
        <a href="{% url "core:index" %}" class="text-2xl text-gray-900 mx-4">Биржа Услуг</a>

        <!-- Menu -->
        <div class="flex-1 flex justify-center items-center">
          {% if user.is_authenticated %}
            <!-- Переключение покупатель / продавец -->
            <a class="{% if user_mode == 'buyer' %}bg-gray-200 font-medium{% else %}hover:bg-gray-200{% endif %} p-2 mx-0.5 rounded-lg" href="{% url 'exchange:set_user_mode' %}?mode=buyer&redirect_to={{ request.path }}">Я покупатель</a>
            <a class="{% if user_mode == 'seller' %}bg-gray-200 font-medium{% else %}hover:bg-gray-200{% endif %} p-2 mx-0.5 rounded-lg" href="{% url 'exchange:set_user_mode' %}?mode=seller&redirect_to={{ request.path }}">Я продавец</a>
            <!-- Рубрики -->
            <a class="p-2 hover:bg-gray-200 mx-0.5 rounded-lg" href="{% url 'exchange:category_list' %}">Рубрики</a>
            {% if user_mode == 'buyer' %}
              <!-- "Я покупатель" -->
              <!-- Полный каталог услуг: /exchange/services/ -->
              <a class="p-2 hover:bg-gray-200 mx-0.5 rounded-lg" href="{% url 'services:list' %}">Услуги</a>
              <!-- То, что заказал пользователь: /orders/ -->
              <a class="p-2 hover:bg-gray-200 mx-0.5 rounded-lg">Мои заказы</a>
              <!-- Проекты пользователя: /projects/ -->
              <a class="p-2 hover:bg-gray-200 mx-0.5 rounded-lg">Мои проекты</a>
            {% else %}
              <!-- "Я продавец" -->
              <!-- "Биржа" - полный каталог проектов: /exchange/projects/ -->
              <a class="p-2 hover:bg-gray-200 mx-0.5 rounded-lg">Биржа</a>
              <!-- То, что заказали у меня: /orders/ -->
              <a class="p-2 hover:bg-gray-200 mx-0.5 rounded-lg">Заказы</a>
              <!-- Услуги, которые предлагает пользователь: /services/ -->
              <a class="p-2 hover:bg-gray-200 mx-0.5 rounded-lg">Мои услуги</a>
            {% endif %}
          {% else %}
            <!-- Публичные разделы сайта -->
            <a class="p-2 hover:bg-gray-200 mx-0.5 rounded-lg" href="{% url 'exchange:category_list' %}">Рубрики</a>
            <a class="p-2 hover:bg-gray-200 mx-0.5 rounded-lg">Услуги</a>
            <a class="p-2 hover:bg-gray-200 mx-0.5 rounded-lg">Биржа</a>
          {% endif %}
        </div>

        <!-- User menu -->
        <div class="px-4 flex items-center">
          {% if user.is_authenticated %}
            {% if user.profile_image %}
              <a href="{% url 'users:public_profile' user.username %}">
                <img src="{{ user.profile_image.url }}" class="h-8 w-8 rounded-lg mx-1" alt="{{ user.username }}">
              </a>
            {% endif %}
            <span class="p-2 font-medium">
              <a href="{% url 'users:public_profile' user.username %}" class="hover:underline">{{ user.username }}</a>
            </span>
            <a href="{% url 'users:update' user.pk %}" class="p-2 hover:bg-gray-200 mx-0.5 rounded-lg">Настройки</a>
            {% if user.is_superuser %}
              <a href="/admin/" class="p-2 hover:bg-gray-200 mx-0.5 rounded-lg">Админка</a>
            {% endif %}
            <a href="{% url 'account_logout' %}" class="p-2 hover:bg-gray-200 mx-0.5 rounded-lg">Выход</a>
          {% else %}
            <a href="{% url 'account_signup' %}" class="p-2 hover:bg-gray-200 mx-0.5 rounded-lg">Регистрация</a>
            <a href="{% url 'account_login' %}" class="p-2 hover:bg-gray-200 mx-0.5 rounded-lg">Вход</a>
          {% endif %}
        </div>
      </div>

      <!-- Content -->
      <div class="p-8">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </div>
</body>

</html>