{% extends "base.html" %}

{% block title %}
  Биржа проектов
{% endblock %}

{% block content %}
  <section class="mx-auto max-w-6xl">
    {% if category %}
      <div class="text-gray-500 mb-4">{{ category }}</div>
      <h1 class="text-2xl font-semibold mb-8">{{ category.title }}</h1>
    {% else %}
      <h1 class="text-2xl font-semibold mb-8">Биржа проектов</h1>
    {% endif %}

    <div class="text-gray-500 mb-4">{{ project_list.count }} результатов</div>
    <div class="grid grid-cols-12 gap-5">
      <!-- Left column 1/3 - filters -->
      <div class="col-span-3 flex flex-col">
        <div class="p-4 bg-gray-100 rounded-md">
          <h2 class="text-xl font-medium">Рубрики</h2>
          <div>...</div>
          <div>...</div>
          <div>...</div>
          <div>...</div>
        </div>
      </div>

      <!-- Right column 3/4 - projects -->
      <div class="col-span-9">
        {% if project_list.count %}
          <div class="flex flex-col">
            {% for project in project_list %}
              <div class="p-2 mb-4 border border-gray-100 hover:shadow-md">
                <h2>
                  <a class="text-xl font-medium mb-2 hover:underline" href="{% url 'projects:detail' project.pk %}">{{ project.title }}</a>
                </h2>
                {% if not category %}
                  <a class="text-gray-500 mb-1 hover:underline" href="{% url 'projects:list' %}?category_id={{ project.category.pk }}">{{ project.category }}</a>
                {% endif %}
                <div class="text-green-500 mb-1">{{ project.price }} ₽</div>
                <div >Заказчик: <a href="{%  url 'users:public_profile' project.customer.username %}" class="hover:underline">{{ project.customer.username }}</a></div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          {% include "alert.html" with message="Не найдено ни одной услуги, удовлетворяющей запросу. Попробуйте изменить фильтры, или выбрать другую рубрику." style="info" %}
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}