{% extends "base.html" %}

{% block title %}
  {{ project.title }}
{% endblock %}

{% block content %}
  <section class="mx-auto max-w-4xl">
    <div class="border border-gray-100 p-4 mb-4">
      <div class="flex items-center">
        <h1 class="flex-1 text-xl font-semibold mb-2 text-green-600">{{ project.title }}</h1>
        <span class="text-xl text-green-600">Бюджет: {{ project.price }} ₽</span>
      </div>

      <div class="flex mb-2 items-center">
        <div class="flex-1">
          <a href="{% url 'projects:list' %}?category_id={{ project.category.pk }}" class="text-gray-500 hover:underline">
            {{ project.category }}
          </a>
        </div>
        {% if project.is_higher_price_allowed %}
          <div class="text-gray-500">
            Макс. бюджет: {{ project.max_price }} ₽
          </div>
        {% endif %}
      </div>

      <p class="mb-4">
        {{ project.description|linebreaksbr }}
      </p>

      <!-- О покупателе -->
      <div class="flex mb-2">
        <a href="{% url 'users:public_profile' project.customer.username %}">
          <img src="{{ project.customer.profile_image.url }}" class="h-16 w-16 mx-1" alt="{{ project.customer.username }}">
        </a>
        <div class="flex flex-col px-2">
          <span>Покупатель: <a href="{% url 'users:public_profile' project.customer.username %}" class="hover:underline">{{ project.customer.username }}</a></span>
          <span>Размещено проектов на бирже: {{ project.customer.projects.count }}</span>
        </div>
      </div>

      <!-- Кол-во откликов / кнопки -->
      <div class="flex items-center">
        <div class="flex-1 text-sm text-gray-500 font-thin">
          Предложений: 0
        </div>
        <div>
          {% if user == project.customer %}
            <a href="{% url 'projects:update' project.pk %}" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-800">Изменить</a>
            <a href="{% url 'projects:delete' project.pk %}" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-red-700 rounded-lg focus:ring-4 focus:ring-red-200 hover:bg-red-800">Удалить</a>
          {% else %}
            <button class="mb-1 w-full text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Предложить услугу</button>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}