{% extends "base.html" %}

{% block content %}
  <h1 class="text-2xl font-semibold mb-2">{{ service.title }}</h1>
  <div class="text-gray-500 mb-2">
    <a href="{% url 'services:list' %}?category_id={{ service.category.pk }}" class="hover:underline">
      {{ service.category }}
    </a>
  </div>
  <div>Исполнитель: {{ service.provider.username }}</div>

  <a href="{% url 'services:update' service.pk  %}" class="inline-flex items-center px-5 py-2.5 mt-4 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-800">Изменить</a>
  <a href="{% url 'services:delete' service.pk  %}" class="inline-flex items-center px-5 py-2.5 mt-4 text-sm font-medium text-center text-white bg-red-700 rounded-lg focus:ring-4 focus:ring-red-200 hover:bg-red-800">Удалить</a>
{% endblock content %}