{% extends "base.html" %}

{% block title %}
  Каталог всех услуг на сайте
{% endblock %}

{% block content %}
  <section class="mx-auto max-w-6xl">
    {% if category %}
      <div class="text-gray-500 mb-4">{{ category }}</div>
      <h1 class="text-2xl font-semibold mb-8">{{ category.title }}</h1>
    {% else %}
      <h1 class="text-2xl font-semibold mb-8">Каталог всех услуг на сайте</h1>
    {% endif %}

    <div class="text-gray-500 mb-4">{{ service_list.count }} результатов</div>
    <div class="grid grid-cols-12 gap-5">
      <!-- Left column 1/3 - filters -->
      <div class="col-span-3 flex flex-col">
        <div class="p-4 bg-gray-100 rounded-md">
          <h2 class="text-xl font-medium mb-2">Рубрики</h2>
          <ul>
            <li><a href="{% url 'services:list' %}" class="hover:underline">Все</a></li>
            {% for cat in categories %}
              <li><a href="{% url 'services:list' %}?category_id={{ cat.pk }}" class="hover:underline">{{ cat.title }}</a> <span class="text-gray-500">({{ cat.service_count }})</span></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- Right column 3/4 - services -->
      <div class="col-span-9">
        {% if service_list.count %}
          <div class="grid grid-cols-3 gap-5">
            {% for service in service_list %}
              <!-- Service card -->
              <div class="flex flex-col p-0 border border-gray-100 hover:shadow-md">
                <!-- Cover -->
                {% if service.image %}
                  <img src="{{ service.image.url }}" class="w-full h-48 bg-gray-50 mb-1 object-cover" />
                {% else %}
                  <div class="w-full h-48 bg-gray-50 mb-1"></div>
                {% endif %}
                <!-- Title -->
                <div class="block mb-1 p-2 h-20">
                  <a href="{% url 'services:detail' service.pk %}" class="hover:underline">
                    {{ service.title }}
                  </a>
                </div>
                <!-- Category and price -->
                <div class="flex items-center p-2 border-b border-gray-100">
                  {% if not category %}
                    <div class="text-sm text-gray-500">
                      <a class="hover:underline" href="{% url 'services:list' %}?category_id={{ service.category.pk }}">
                        {{ service.category.title }}
                      </a>
                    </div>
                  {% endif %}
                  <div class="flex-1 text-right text-xl text-green-500 font-semibold">{{ service.price }} ₽</div>
                </div>
                <!-- Provider info -->
                <div class="p-1 flex items-center">
                  {% if service.provider.profile_image %}
                    <a href="{% url 'users:public_profile' service.provider.username %}">
                      <img src="{{ service.provider.profile_image.url }}" class="h-8 w-8 rounded-lg mx-1" alt="{{ service.provider.username }}">
                    </a>
                  {% endif %}
                  <span class="p-2 font-medium">
                    <a href="{% url 'users:public_profile' service.provider.username %}" class="hover:underline">{{ service.provider.username }}</a>
                  </span>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          {% include "alert.html" with message="Не найдено ни одной услуги, удовлетворяющей запросу. Попробуйте изменить фильтры, или выбрать другую рубрику." style="info" %}
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}