{% extends 'base.html' %}

{% block title %}
  Мои заказы
{% endblock %}

{% block content %}
  <section class="mx-auto max-w-5xl">
    <h1 class="text-3xl font-semibold mb-4">Мои заказы</h1>

    <h2 class="text-2xl font-semibold mb-2">Я – заказчик</h2>
    <div class="mb-8">
      {% for order in order_list %}
        {% if user == order.customer %}
          <a href="{% url 'orders:detail' order.pk %}" class="hover:underline">
            {{ order }} &middot; {{ order.item.title }}
          </a> <span class="text-gray-500">&middot; {{ order.get_status_display }}</span>
        {% endif %}
      {% endfor %}
    </div>

    <h2 class="text-2xl font-semibold mb-2 mt-2">Я – исполнитель</h2>
    {% for order in order_list %}
      {% if user == order.provider %}
          <a href="{% url 'orders:detail' order.pk %}" class="hover:underline">
            {{ order }} &middot; {{ order.item.title }}
          </a> <span class="text-gray-500">&middot; {{ order.get_status_display }}</span>
      {% endif %}
    {% endfor %}
  </section>
{% endblock content %}