asgiref==3.8.1
black==24.4.1
click==8.1.7
crispy-tailwind==1.0.3
Django==5.0.4
django-allauth==0.62.1
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-stubs==5.0.0
django-stubs-ext==5.0.0
environs==11.0.0
marshmallow==3.21.1
mypy==1.10.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.2.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
ruff==0.4.1
sqlparse==0.5.0
types-PyYAML==6.0.12.20240311
typing_extensions==4.11.0
